@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600&display=swap");

body {
    background-color: #000;
    background-image: url('imagem/principal.png'); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.janela-gerenciador {
    width: 1000px;
    height: 700px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.barra-superior {
    height: 40px;
    background-color: #c9a0dc;
    border-bottom: 1px solid #341539;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.titulo-janela {
    font-family: "Pacifico", cursive;
    font-size: 18px;
    font-weight: 500;
    color: #341539;
}

.controles-janela {
    display: flex;
    gap: 15px;
    align-items: center;
}

.ponto {
    cursor: pointer;
    font-size: 18px;
    color: #341539;
    transition: color 0.2s;
    user-select: none; 
}


.fechar:hover {
    color: #ff5f56;
}

.corpo-da-janela {
    display: flex;
    flex: 1;
}


.sidebar {
    width: 220px;
    border-right: 1px solid #eee;
    padding: 20px 0;
}

.titulo-sessao {
    padding: 0 20px 15px;
    font-size: 18px;
    color: #341539;
}

.item-menu {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #666;
    font-size: 14px;
}

.item-menu img {
    width: 20px;
}

.item-menu.ativo {
    background-color: #f0f4ff;
    color: #4a148c;
    border-left: 4px solid #c9a0dc;
}


.conteudo-arquivos {
    flex: 1;
    padding: 20px;
    background-image: url('imagem/fundo.jpg'); 
    background-size: cover;
    background-position: center; 
    background-image: linear-gradient(rgba(252, 252, 252, 0.8), rgba(252, 252, 252, 0.8)), url('imagem/fundo.jpg');
}

.barra-topo {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.input-busca {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-nova-pasta {
    background-color: #4ca1af;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
}

.grade-arquivos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

.arquivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: #444;
}


.pasta-cor {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #ffd54f; 
}

